//Couleurs de base
$color-primary:                 #bada55;
$color-primary-highlight:       lighten($color-primary, 15%);
$color-primary-shadow:          darken($color-primary, 15%);

$color-white:                    #fff;
$color-black:                    #303044;

$color-black-50:                 rgba($color-black, .5);
$color-grey:                      #666;
$color-grey-light:                #ccc;
$color-grey-dark:                 #333;


//Buttons
$color-button:                     $color-primary;
$color-button-hover:               $color-primary-shadow;


//Text
$color-text:                        #636363;


//Link
$color-Link:                        $color-primary;
$color-link-hover:                  $color-primary-highlight;