//Font family
$ff-heading: arial,Helvetica,sans-serif;
$ff-normal:  arial,Helvetica,sans-serif;

//Grandeur texte normal
$fz-text-normal: 16px;

//Line heights
$lh-thin:   1.1;
$lh-large:  1.5;

//font weight
$fw-light:    300;
$fw-regular:  400;
$fw-semibold: 500;
$fw-bold:     700;