nav{
  background-color: $color-white;

  ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: none;

    a{
      padding: rem(10);
      margin: rem(10);
      display: block;
      color: $color-text;
      text-decoration: none;
      border-radius: 20px;

      &:hover{
        background-color: $color-black-50;
      }

    }
  }
}